# ignore compiled binaries and debug symbols 
conditional
*.dSYM/
.vscode/
evenorodd
area_rec
threedigitcheck
triangle
greatest
divisible
ternaryex1
ap 
gp
highfactor
# macOS system files
.DS_Store
starsquare
number
alphabetsqr
pattern1
swap2
practice
fact
power
recursion
singlepara
sum1tonpara
sumarrays
secondmax
reverse
maxarray
1stprogram
